.main {
	display: block;
}
.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
}
.content {
	display: block;
	margin: 0 auto;
	margin-top: 72px;
}
h1,
h2,
h3,
p,
div {
	margin: 0;
	padding: 0;
}
p {
	margin: 2px 0;
}
.btn-add,
.btn-edit,
.btn-delete,
.btn-active {
	height: 44px;
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	border-radius: 8px;
}
.loader {
	position: absolute;
	background: #bebebe;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 8px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	animation: spinner 1s ease infinite;
}
