.main {
	display: block;
}
.appMountPoint {
	background-color: #000;
	color: #fff;
}
.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
}
.content {
	display: block;
	margin: 0 auto;
	/* margin-top: 70px; */
}
button {
	margin: none;
	padding: none;
	border: none;
}
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}
p {
	line-height: 1.5rem;
	font-size: smaller;
}

.loader {
	position: absolute;
	background: #bebebe;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 8px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	animation: spinner 1s ease infinite;
}
