.dashboard {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 100px;
	grid-row-gap: 0px;
	height: 100vh;
	margin-top: 72px;
	padding: 24px;
	width: 80%;
}

.profile-img {
	display: inline-block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
	border-radius: 50%;
}
.list {
	border-radius: 12px;
	margin-bottom: 24px;
	text-align: left;
}

.card-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 4px;
	grid-row-gap: 4px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 320px;
	height: 180px;
	padding: 4px;
	border-radius: 25px;
}

.card-img {
	display: inline-block;
	width: 120px;
	height: 120px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
}
.card-title {
	font-weight: 700;
}
.card-builder {
	color: #bebebe;
}
.card-category {
	font-weight: 100;
}
.student-card-avatar {
	display: inline-block;
	width: 100px;
	height: 100px;
	object-fit: cover;
	padding: 0;
	margin: 4px;
	border-radius: 50%;
}
.card-img:hover {
	transform: scale(1.5);
}
.card-price {
	font-size: 24px;
}
.card-info {
	color: #474646;
}
.card-info:hover {
	color: #e3b345;
}
