.episode-card {
	display: grid;
	grid-template-columns: 1fr 3fr 8fr;
	gap: 0px 4px;
	padding: 16px;
	margin: 0 auto;
	height: 85px;
	line-height: 85px;
	overflow: hidden;
}

.episode-card img {
	width: 150px;
	height: 85px;
}

.episode-react-player-wrapper {
	width: 150px;
	height: 85px;
}
.episode-description {
	margin-left: 24px;
}

.episode-number {
	font-size: 1.5em;
	margin: 0 auto;
}
.hr {
	color: red;
	z-index: 100;
}
