.previewModal-wrapper {
	height: 100vh;
	overflow-y: scroll;
}

.detail-info-container {
	padding: 0 48px;
	display: flex;
	flex-direction: column;
}
.serie-bg-img {
	width: 100%;
	margin-bottom: 48px;
}
.detail-info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 0px 24px;
	margin-bottom: 48px;
}

.episode-card-group {
	display: flex;
	flex-direction: column;
}
