.previewModal-wrapper {
	height: 100vh;
	overflow-y: auto;
	z-index: 1;
	color: #fff;
}

.detail-info-container {
	padding: 0 48px;
	display: flex;
	flex-direction: column;
	z-index: 2;
}
.serie-bg-img {
	width: 100%;
	margin-bottom: 48px;
}
.detail-info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 0px 24px;
	margin-bottom: 48px;
}

.episode-card-group {
	display: flex;
	flex-direction: column;
}
.serie-info-cancel {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: #fff;
	background-color: #000;
}
