.sign-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
}
.form-input {
	margin-bottom: 12px;
}
.sign-up form {
	width: 300px;
	gap: 12px;
}

.form-label {
	display: block;
	align-self: flex-start;
	margin-bottom: 8px;
}
.form-text {
	width: 300px;
	align-self: flex-start;
	height: 50px;
	border-radius: px;
}
.btn-sign-up {
	border: none;
	width: 300px;
	height: 50px;
	border-radius: 50px;
	background: #efdc75;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	margin-bottom: 1rem;
}

.btn-sign-up:hover {
	background-color: #7198bb;
}
.log-in {
	display: inline;
}
